body{
  background-color: rgb(25,25,25);
  color: white;
  font-family: Arial;
  font-size: 30px;
}

.title{
  font-weight: bold;
}

.rps-emoji{
  height: 50px;
}

.rps-button{
  background-color: transparent;
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  margin-right: 10px;
  cursor: pointer;
}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score{
  margin-top: 60px;
}
.auto,
.reset{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  width: 120px;
  height: 60px;
  font-weight: bold;
}