body{
  background-color: rgb(25,30,35);
  color: white;
  font-size: 30px;
}

.title{
  font-weight: bold;
  font-family: Algerian;
}

.rps-emoji{
  height: 50px;
}

.rps-button{
  background-color: transparent;
  border: 3px dotted white;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  margin-right: 10px;
  cursor: pointer;
}

.js-moves,
.result{
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: Times New Roman;
}

.score{
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Berlin Sans FB;
}
.auto,
.reset{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  width: 120px;
  height: 60px;
  font-weight: bold;
  font-family: Comic Sans MS;
}
