body {
  font-family: arial
}

.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 130px 90px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-grid {
  display: grid;
  grid-template-columns: 200px 150px 130px 30px 90px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}


.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input,
.due-time-input{
  font-size: 15px;
  padding: 6px;
}

.add-todo-button{
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
}

.delete-todo-button{
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}
